@media only screen and (min-width: 300px) and (max-width: 650px) {
    #nabar {
        width: 100%; 
        height: auto;      
    }
    #nabar .wrapper{
        padding: 0 10px;
        flex-direction: column;
       
    }
    .nav-links li{
        display: none;
    }
    .main_container{
        padding-top: 75px;
    }
    .Gifts_section{
        flex-direction: column;
        
    }
    /* site listing section */
    .site_list{
        padding: inherit 20px;
    }
    
    
  }
