<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E_Products</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <style>
        .wrapper{
            padding: 5px 30px;
        }
        
        header{
            background-color: green;
            height: 70px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: white;
        }
        nav{
            display: flex;
            padding: 20px;
        }
    </style>
    <div class="wrapper"></div>
    <header>
        <p>logo</p>
        <nav>
            <ul>ali</ul>
            <ul>ali</ul>
            <ul>ali</ul>
        </nav>
        <p>good</p>
    </header>
</div>
</body>
</html>