<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>f_navbar</title>
</head>
<body>
    <nav>
        <div class="wrapper">
            <div class="logo"><a href="">Ali Raza</a></div>
            <ul class="nav-links">
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li>
                    <a href="">Drop Down Menu</a>
                    <ul class="drop-menu">
                        <li><a href="">men 1</a></li>
                        <li><a href="">men 2</a></li>
                        <li><a href="">men 3</a></li>
                        <li><a href="">men 4</a></li>


                    </ul>
                
                </li>
                <li><a href="">Testimonial</a></li>
            </ul>
        </div>
    </nav>
    
</body>
</html>