<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Style.css">
    <title>Hex-Shop</title>
</head>
<body>
   <Header>
    <div class="logo">logo</div>
    <div class="menu_links">
       <ul class="links">
       <li><a href="#">Home</a></li>
       <li><a href="#">Men's</a></li>
       <li><a href="#">Women's</a></li>
       <li><a href="#">Kid's </a></li>
       <li><a href="#">Pages</a></li>
       <li><a href="#">Features</a></li>
       <li><a href="#">Explore</a></li>
       </ul>
    </div>
   </Header>
   <!-- hero Section Starts from there -->
   <div class="hero">
    <div class="hero_left">
        <h1>We are Business</h1>
        <!-- <img src="images/left-banner-image.jpg" alt=""> -->
        <p>Lorem ipsum dolor sit amet consectetur.</p>
        <button>Purchase Now</button>
    </div>
    <div class="hero_right">
        <div class="hero_right_box">
            <h1>Women</h1>

        </div>
        <div class="hero_right_box">
            <h1>Women</h1>

        </div>
        <div class="hero_right_box">
            <h1>Women</h1>

        </div>
        <div class="hero_right_box">
            <h1>Women</h1>

        </div>
    </div>
   </div>
</body>
</html>