*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 65px;
    padding: 0 50px;
    border-bottom: 2px dotted gray;

}
.links{
    display: flex;
    gap: 16px;
}
.links li{
    list-style: none;
    text-decoration: none;
    padding: 0 8px;
}
.links li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 400;
}
.hero{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 70px 5px;
    color: white;
}
.hero_left{
    flex-basis: 48%;
    background-image: url('./images/left-banner-image.jpg');
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    background-size: cover;
    gap: 10px;
    /* height: 80vh; */
    padding-left: 40px;
    
}
.hero_left h1{
    font-size: 45px;
    color: white;
    font-weight: 800;
}
.hero_left button{
    padding: 5px 10px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    margin: 10px 0;

}

.hero_right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    /* width: 100%; */
}
.hero_right_box{
    flex-basis: 49%;
    background-image: url('images/baner-right-image-01.jpg');
    padding: 0;
    height: 175px;

}
