<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <title>bag-shop.com</title>
</head>
<body>  
    <!-- Header Start -->
    <header>
        <a href="#" class="logo" >Bags</a>
        <div class="fa-solid fa-user" id="menu-icom"></div>

        <ul class="navbar">
            <li><a href="#shop">Shop</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#faq">Faq</a></li>
            <li><a href="#contact">Contack</a></li>
        </ul>
        <div class="icons">
            <i class="fa-solid fa-search"></i>
            <i class="fa-solid fa-user"></i>
            <i class="fa-solid fa-book"></i>
        </div>
    </header>

    <!-- Shop Start -->
    <section class="shop" id="shop">
        <div class="container">
            <div class="box">
                <img src="../../assets/img/Screenshot (11).png" alt="">
                <h4>I'm a product</h4>
                <h5>$15.00</h5>
                <div class="cart">
                    <a href=""><i class="fa-solid fa-user"></i></a>
                </div>
            </div>
            <div class="box">
                <img src="../../assets/img/Screenshot (11).png" alt="">
                <h4>I'm a product</h4>
                <h5>$15.00</h5>
                <div class="cart">
                    <a href=""><i class="fa-solid fa-user"></i></a>
                </div>
            </div>
            <div class="box">
                <img src="../../assets/img/Screenshot (11).png" alt="">
                <h4>I'm a product</h4>
                <h5>$15.00</h5>
                <div class="cart">
                    <a href=""><i class="fa-solid fa-user"></i></a>
                </div>
            </div>
            <div class="box">
                <img src="../../assets/img/Screenshot (11).png" alt="">
                <h4>I'm a product</h4>
                <h5>$15.00</h5>
                <div class="cart">
                    <a href=""><i class="fa-solid fa-user"></i></a>
                </div>
            </div>
            <div class="box">
                <img src="../../assets/img/Screenshot (11).png" alt="">
                <h4>I'm a product</h4>
                <h5>$15.00</h5>
                <div class="cart">
                    <a href=""><i class="fa-solid fa-user"></i></a>
                </div>
            </div>
            <div class="box">
                <img src="../../assets/img/Screenshot (11).png" alt="">
                <h4>I'm a product</h4>
                <h5>$15.00</h5>
                <div class="cart">
                    <a href=""><i class="fa-solid fa-user"></i></a>
                </div>
            </div>
            <div class="box">
                <img src="../../assets/img/Screenshot (11).png" alt="">
                <h4>I'm a product</h4>
                <h5>$15.00</h5>
                <div class="cart">
                    <a href=""><i class="fa-solid fa-user"></i></a>
                </div>
            </div>
            <div class="box">
                <img src="../../assets/img/Screenshot (11).png" alt="">
                <h4>I'm a product</h4>
                <h5>$15.00</h5>
                <div class="cart">
                    <a href=""><i class="fa-solid fa-user"></i></a>
                </div>
            </div>
            <div class="box">
                <img src="../../assets/img/Screenshot (11).png" alt="">
                <h4>I'm a product</h4>
                <h5>$15.00</h5>
                <div class="cart">
                    <a href=""><i class="fa-solid fa-user"></i></a>
                </div>
            </div>
            <div class="box">
                <img src="../../assets/img/Screenshot (11).png" alt="">
                <h4>I'm a product</h4>
                <h5>$15.00</h5>
                <div class="cart">
                    <a href=""><i class="fa-solid fa-user"></i></a>
                </div>
            </div>
            <div class="box">
                <img src="../../assets/img/Screenshot (11).png" alt="">
                <h4>I'm a product</h4>
                <h5>$15.00</h5>
                <div class="cart">
                    <a href=""><i class="fa-solid fa-user"></i></a>
                </div>
            </div>
            <div class="box">
                <img src="../../assets/img/Screenshot (11).png" alt="">
                <h4>I'm a product</h4>
                <h5>$15.00</h5>
                <div class="cart">
                    <a href=""><i class="fa-solid fa-user"></i></a>
                </div>
            </div>
        </div>
    </section>
    <!-- about Start -->
    <section class="about" id="about">
        <div class="about_content">
            <h2>About</h2>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, aliquam possimus. Magni nisi laudantium dignissimos, deleniti ullam accusantium, excepturi accusamus reprehenderit ea ad placeat quae laborum libero quam quod. Vitae saepe expedita voluptatum. Corporis mollitia quae laboriosam necessitatibus animi perspiciatis minima blanditiis quod et sed!
            </p>
        </div>
    </section>



























    
    
</body>
</html>